@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <CYKMetamask SelectedAccountTruncateLength="15" ConnectText="Please Connect (cyk)" InstallMetamaskText="Please install Metamask (cyk)" />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
